@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); /* Font imported from Google */

* {
  font-family: "Manrope", sans-serif; /* Font applied to all text */
  box-sizing: border-box; /* Font allows all divs to have padding and border in an elements total width and height, looks better once applied to all */
}
html,
body {
  font-family: "Manrope", sans-serif;
  background-image: linear-gradient(
    to right top,
    #2b6b43,
    #358069,
    #4c958d,
    #6da9ad,
    #92bcc7
  );
}

header {
  color: white;
  display: fixed;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 40px;
}

header .logo {
  color: #2b6b43;
  font-weight: 700;
  font-size: 75px;
}

header .menu ul {
  display: flex;
  float: right;
}

header .menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu li a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  font-size: 1.5rem;
}

img {
  height: auto;
  max-width: 80%;
}

.menu-btn {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 15px;
  border-radius: 20px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 40px; */
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
#home {
  height: calc(100vh - 90px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .info-section {
  width: 50%;
}

#home .info-section h1 {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  margin-bottom: 2rem;
}

#home .info-section h4 {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  margin-bottom: 2rem;
  letter-spacing: 2.5px;
}

#home .info-section .call-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-btn,
.action-ghost-btn {
  padding: 15px 15px;
  border-radius: 30px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.action-btn {
  background: white;
  color: #6da9ad;
  margin-right: 20px;
}

.action-ghost-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
}

#home .photos {
  position: relative;
  width: 70%;
}

#home .photos .group {
  position: absolute;
  width: 1000px;
  height: 400px;
  z-index: 1;
  transform: translate3d(0, -350px, 0);
}

#home .photos .couple {
  position: absolute;
  width: 1000px;
  height: 400px;
  z-index: 2;
  transform: translate3d(200px, 25px, 0);
}

.logo-2 {
  position: fixed;
  bottom: 0;
  left: 200px;
}

.national-forest-logo {
  float: right;
}

.national-forest-logo img {
  height: 200px;
  width: 200px;
}
